.fondo {
    background-image: url(../img/fondo.jpg);
    }

p {
    color: white;
    font-size: 25px;
    text-align: center;
    font-family: Red Hat Display;
    font-weight: light 300;
     }
 h1 { 
    color: white;
    font-size: 90px;
    text-align: center;
    font-family: Nanum Myeongjo;
    font-weight: 700;
    font-style: italic;
    }
 h2 { 
    color: #ffffff;
    font-size: 60px;
    text-align: center;
    font-family: Nanum Myeongjo;
    font-weight: 700;
    font-style: italic;
    } 

h6 {
    color: white;
    font-size: 30px;
    text-align: left;
    font-family: Red Hat Display;
    font-weight: 400;
    font-style: italic;
    }
    section nav ul li a{ 
        text-decoration: none;
        color: white;
        list-style-type: none;
    }
    section nav ul li { 
      display: inline;
      margin: 1%;
    
    }
    footer {
        background-color: rgba(97, 45, 10, 0.89); 
    }
    
   .link-propio { 
    color: white;
    }
   .link-propio:hover { 
    color:rgb(41, 21, 7)
    }
   .nav-propia { 
    background-color: rgba(97, 45, 10, 0.89);
    }
   header {
    margin-left: 35%;
    }
    header img {
        width: 50%;
        height: 50%;
    }
    .img_tam img {
        width: 30%;
        height: 30%;
        margin-bottom: 10px;
    }

    .carousel-mio {
        margin: auto;
        margin-bottom: 5%;
    }
    .boton   {
       color: white;
       background-color: rgba(223, 70, 9, 0.705);
       border: rgba(223, 70, 9, 0.705);
    }
    .boton:hover {
        background-color: rgb(73, 28, 7);
     }
    .pfoot {
    text-align: left;
    font-family:  Red Hat Display;
    font-weight: light 300;
    }
    .header {
    color: #d66a05;
    font-size: 27px;
    padding: 10px;
    }

    .bigicon {
    font-size: 35px;
    color: #4d2c07;
    }
    
    .btn { 
        background-color:  rgba(223, 70, 9, 0.705);
        color: white;
        margin-bottom: 10px;
    }
    .btn:hover { 
        background-color:rgba(73 28 7);
        color: white;
    }